{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <h1 class="dashboard-title">My Favorite Motivational Books</h1>
    <ul class="book-list">
        <li class="book-item">
            <h2 class="book-title">The 7 Habits of Highly Effective People</h2>
            <p class="book-author">Author: Stephen R. Covey</p>
            <p class="book-description">A classic book on personal and professional effectiveness.</p>
        </li>
        <li class="book-item">
            <h2 class="book-title">How to Win Friends and Influence People</h2>
            <p class="book-author">Author: Dale Carnegie</p>
            <p class="book-description">Timeless advice on building relationships and communication skills.</p>
        </li>
        <li class="book-item">
            <h2 class="book-title">You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life</h2>
            <p class="book-author">Author: Jen Sincero</p>
            <p class="book-description">Motivational and humorous guide to living your best life.</p>
        </li>
        <li class="book-item">
            <h2 class="book-title">Mindset: The New Psychology of Success</h2>
            <p class="book-author">Author: Carol S. Dweck</p>
            <p class="book-description">Explores the concept of mindset and how it impacts achievement and success.</p>
        </li>
        <li class="book-item">
            <h2 class="book-title">Grit: The Power of Passion and Perseverance</h2>
            <p class="book-author">Author: Angela Duckworth</p>
            <p class="book-description">Examines the role of grit in achieving long-term goals.</p>
        </li>
    </ul>

{% endblock %}
